<!-- Extendendo as partes repetidas para o layout.njk -->
{% extends "layout.njk" %}

<!-- Conteúdo do bloco head irá substituir o head no layout.njk -->
{% block head %}
  <title>Instrutores - Gym Control</title>
{% endblock %}

<!-- Conteúdo do bloco content irá substituir o conteúdo no layout.njk -->
{% block content %}
  <div class="cards table-container">

    <div class="header">
      <a href="/instructors/create">Novo</a>
      <form action="/instructors" method="GET">
        <input 
          type="text"
          name="filter"
          placeholder="Nome ou Atendimento"
        >
        <button type="submit">Filtrar</button>

      </form>
    </div>

    <table width="100%">
      <thead>
        <tr>
          <th>Instrutor</th>
          <th>Atendimento</th>
          <th>Alunos</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for instructor in instructors %}
          <tr>

            <td>
              <span style="background-image: url({{ instructor.avatar_url }})"></span>
              <p>{{ instructor.name }}</p>
            </td>

            <td>
              {% for service in instructor.services %}<span class="services">{{ service }}</span>{% endfor %}
            </td>

            <td>{{ instructor.total_members }}</td>

            <td>
              <a href="/instructors/{{ instructor.id }}">Ver</a>
            </td>

          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div 
      class="pagination"
      data-page={{pagination.page}}
      data-total={{pagination.total}}
      data-filter={{filter}}
    ></div>

  </div>
{% endblock %}