<!-- Extendendo as partes repetidas para o layout.njk -->
{% extends "layout.njk" %}

<!-- Conteúdo do bloco head irá substituir o head no layout.njk -->
{% block head %}
  <title>Detalhes do Instrutor - Gym Control</title>
{% endblock %}

<!-- Conteúdo do bloco content irá substituir o conteúdo no layout.njk -->
{% block content %}
  <div class="return">
    <a href="/instructors">Voltar</a>
  </div>
  
  <div class="card">

    <section 
      class="avatar"
      style="background: url({{instructor.avatar_url}}) no-repeat center center / cover; border-radius: 10px 0 0 10px;"></section>

    <section class="details">
      <h3>Detalhes</h3>

      <div class="item">
        <div>Instrutor</div>
        <div>{{ instructor.name }}</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>{{ instructor.age }}</div>
      </div>

      <div class="item">
        <div>Sexo</div>
        <div>{% if instructor.gender == 'M'%}Masculino{% else %}Feminino{% endif %}</div>
      </div>

      <div class="item">
        <div>Acompanhamento</div>
        <div>
          {% for service in instructor.services %}
            <span>{{ service }}</span>
          {% endfor %}
        </div>
      </div>

      <div class="item">
        <div>Desde</div>
        <div>{{ instructor.created_at }}</div>
      </div>

      <a href="/instructors/{{ instructor.id }}/edit" class="button">Editar</a>

    </section>

  </div>
{% endblock %}