<!-- Extendendo as partes repetidas para o layout.njk -->
{% extends "layout.njk" %}

<!-- Conteúdo do bloco head irá substituir o head no layout.njk -->
{% block head %}
  <title>Membros - Gym Control</title>
{% endblock %}

<!-- Conteúdo do bloco content irá substituir o conteúdo no layout.njk -->
{% block content %}
  <div class="cards table-container">

    <div class="header">
      <a href="/members/create">Novo</a>
      <form action="/members" method="GET">
        <input 
          type="text"
          name="filter"
          placeholder="Nome"
        >
        <button type="submit">Filtrar</button>

      </form>
    </div>
    
    <table width="100%">
      <thead>
        <tr>
          <th>Membro</th>
          <th>Objetivo</th>
          <th>Peso</th>
          <th>Altura</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for member in members %}
          <tr>

            <td>
              <span style="background-image: url({{ member.avatar_url }})"></span>
              {{ member.name }}
            </td>

            <td>
              <span class="goals">{{ member.goals }}</span>
            </td>

            <td>
              <span>{{ member.weight }} Kg</span>
            </td>

            <td>
              <span>{{ member.height }} cm</span>
            </td>

            <td>
              <a href="/members/{{ member.id }}">Ver</a>
            </td>

          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div 
      class="pagination"
      data-page={{pagination.page}}
      data-total={{pagination.total}}
      data-filter={{filter}}
    ></div>

  </div>
{% endblock %}